* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#telaDoJogo {
  height: 100vh;
  width: 100%;
  position: relative;
  border: 5px solid red;
  animation: borderAnimation 0.5s infinite;
}

@keyframes borderAnimation {
  0% {
    border: 5px solid red;
  }
  100% {
    border: 5px solid rgb(238, 110, 110);
  }
}

.nave {
  position: absolute;
  width: 100px;
  height: 100px;
  transition-duration: 0.5s;
}

.virarNave {
  transform: rotate(180deg);
}

.tiro {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: red;
  display: none;
  position: absolute;
  top: -30px;
  right: -30px;
  animation: tiroAnimacao 0.1s forwards ease;
}

@keyframes tiroAnimacao {
  0% {
    top: -30px;
    right: -30px;
  }
  100% {
    top: -400px;
    right: -400px;
  }
}

/* Spawn de inimigos */

.inimigo {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 100%;
  top: 300px;
  left: 20px;
}
